---
import { getCollection } from "astro:content";
import Article from "../../components/Article.astro";
import I from "../../components/PostIndexItem.astro";
import MainFrame from "../../layout/MainFrame.astro";

export async function getStaticPaths() {
    const allPosts = await getCollection("posts");

    const uniqueTags = [
        ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { posts } = Astro.props;
---

<MainFrame>
    <Article>
        <div class="pt-1 pb-1">
            {
                posts.map((post: any) => (
                    <I
                        title={post.data.title}
                        date={post.data.date}
                        href={`/posts/${post.slug}/`}
                        tags={post.data.tags}
                    />
                ))
            }
        </div>
    </Article>
</MainFrame>
