---
import Article from "../components/Article.astro";
import I from "../components/PostIndexItem.astro";
import MainFrame from "../layout/MainFrame.astro";
---

<MainFrame>
    <Article>
        <div class="pt-1 pb-1">
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
            <I title="Title" desc="Desc" date="2026-01-19" tags={["2", "1"]} />
        </div>
    </Article>
</MainFrame>
