@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: all;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

mjx-container[jax="SVG"][display="true"] {
    display: flex !important;
    justify-content: center;
}

mjx-container[jax="SVG"] {
    display: inline-block;
    vertical-align: -2.5px;
}

code {
    @apply break-all;
}

/* GitHub 风格的提示块 */
.admonition {
    @apply my-4 rounded-r-xl border-l-4 p-2 pl-4 shadow;
}

.admonition-title {
    @apply mb-2 font-semibold;
}

p > img[loading="lazy"] {
    @apply mx-auto block flex;
}
