@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

mjx-container[jax="SVG"][display="true"] {
    display: flex;
    justify-content: center;
}

mjx-container[jax="SVG"] {
    display: inline-block;
    vertical-align: -2.5px;
}

code {
    @apply break-all;
}

/* GitHub 风格的提示块 */
.admonition {
    @apply my-4 rounded-r-xl border-l-4 p-2 pl-4 shadow;
}

.admonition-title {
    @apply mb-2 font-semibold;
}

[data-image-component="true"] {
    @apply mx-auto block;
}
