---
import { Icon } from "astro-icon/components";
---

<footer
    class="footer mt-4 mb-4 flex items-center justify-center gap-2 text-sm font-bold italic"
>
    <p style="font-family: Victor Mono; font-display: swap;">Build with</p><Icon
        name="simple-icons:astro"
        class="mt-1"
    />
</footer>
