---
import Article from "./Article.astro";
import PostIndexItem from "./PostIndexItem.astro";

interface PostEntry {
    id: string;
    data: {
        title: string;
        date: Date | string;
        tags: string[];
    };
}

interface Props {
    posts: PostEntry[];
}

const { posts }: Props = Astro.props;
---

<Article>
    <div class="pt-1 pb-1">
        {
            posts.map((post, index) => (
                <>
                    <PostIndexItem
                        title={post.data.title}
                        date={post.data.date.toString()}
                        href={`/posts/${post.id}/`}
                        tags={post.data.tags}
                    />
                    {index < posts.length - 1 && (
                        <div class="px-8 py-1">
                            <div class="flex items-center gap-3 opacity-20">
                                <div
                                    class="bg-base-300 h-px flex-1"
                                    style="background-image: radial-gradient(circle, currentColor 1px, transparent 1.2px); background-position: center; background-repeat: repeat-x; background-size: 8px 1px;"
                                />
                            </div>
                        </div>
                    )}
                </>
            ))
        }
    </div>
</Article>
