---
import { Icon } from "astro-icon/components";

interface Props {
    index: number;
    name: string;
    desc?: string;
    count: number;
}

const { name, desc, count } = Astro.props;
---

<li class="list-row items-center">
    <div></div>
    <div class="text-xl tabular-nums">
        {name}
    </div>

    <div class="divider divider-horizontal max-md:hidden"></div>

    <div class="flex items-center">
        <div class="text-xs font-semibold uppercase opacity-60">
            {desc}
        </div>
        <a href={`/tags/${name}`}>
            <button class="btn btn-square btn-ghost">
                <Icon
                    name="material-symbols:chevron-right-rounded"
                    size="32px"
                />
            </button>
        </a>
    </div>
</li>
