---
import { Icon } from "astro-icon/components";
---

<label class="btn btn-ghost">
    <label class="swap swap-rotate">
        <input type="checkbox" value="dark" class="theme-controller" />
        <div class="swap-off text-2xl">
            <Icon name="material-symbols:sunny-outline" />
        </div>
        <div class="swap-on text-2xl">
            <Icon name="material-symbols:moon-stars-outline" />
        </div>
    </label>
</label>
